.search-container {
  display: flex !important;
  align-items: center;
  border-radius: 9px !important;
  padding: 9px !important;
  background-color: #fff !important;
}

.text-input {
  border: none !important;
  flex: 1 !important;
  min-width: 300px;
}
