.header {
  min-height: 100vh;
  height: 100%;
  padding: 10px 20px;
  width: 300px;
  background-color: var(--purple100) !important;
}

.main {
  padding-left: 340px !important;
  max-width: 100% !important;
}
